body {
   background-color: #a1eafb;
}


h1 { color: #32e0c4;

}
h3 {
  color: #111d5e;
}

hr {

border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 5%;}
